<footer>
  <div class="footer_main">

      <div class="footer_tag">
          <h2>Location</h2>
          <p>Sri Lanka</p>
          <p>USA</p>
          <p>India</p>
          <p>Japan</p>
          <p>Italy</p>
      </div>

      <div class="footer_tag">
          <h2>Quick Link</h2>
          <p>Home</p>
          <p>About</p>
          <p>Article</p>
          <p>Category</p>
          <p>Blog</p>
      </div>

      <div class="footer_tag">
          <h2>Contact</h2>
          <p>+94 12 3456 789</p>
          <p>+94 25 5568456</p>
          <p>blog123@gmail.com</p>
          <p>blogs123@gmail.com</p>
      </div>

      <div class="footer_tag">
          <h2>Our Service</h2>
          <p>personel blog</p>
          <p>Easy management</p>
          <p>Service all time</p>
      </div>

      <div class="footer_tag">
          <h2>Follows</h2>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin-in"></i>
      </div>

  </div>

  <p class="end">Blogs<span><i class="fa-solid fa-face-grin"></i> Blog sur la Gestion Optimale du Temps </span></p>

</footer>