<header>
  <div class="container">
    <div class="logo">
     
      <img src="/img/logo.png" alt="Logo" class="logos">
    </div>
    <nav>
<ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/article">Article</a></li>
        <li><a href="/category">Categories</a></li>
      </ul>
    </nav>
  </div>
</header>
