<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section id="Home">
<nav>
  <!-- <img src="/img/logo.png" alt="Logo" class="logos"> -->
  <div class="logo">
       <img src="/img/logo1.png" alt="Logo" class="logos">
  </div>

  <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/article">Article</a></li>
      <li><a href="/category">Category</a></li>
    
  </ul>

  <div class="icon">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-cart-shopping"></i>
  </div>

</nav>
</section>