<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
<section id="Home">
<div class="maine">

  <div class="men_text">
      <h1>Get Blog<span>About </span><br>in a Easy Way</h1>
  </div>

  <div class="maine_img">
     <!-- <img src="/img/logo.png" alt="Logo" class="logos"> -->
     <div class="backgr">
      <img src="img/idea1.png" class="backg">
     </div>
  </div>

</div>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse reiciendis quaerat nobis 
  deleniti amet non inventore. Reprehenderit recusandae voluptatibus minus tenetur itaque numquam 
  cum quos dolorem maxime. Quas, quaerat nisi. Lorem ipsum dolor sit, amet consectetur adipisicing 
  elit. Cumque facilis, quaerat cupiditate nulla quibusdam quo sunt esse tempore inventore vel 
  voluptate, amet laudantium adipisci veniam nihil quam molestiae omnis mollitia.
</p>

<div class="maine_btn">
  <a href="/addpost">Add blog now ></a>
  <!-- <i class="fa-solid fa-angle-right"></i> -->
</div>

</section>



<!--About-->

<div class="about" id="About">
<div class="about_maine">

  <div class="img">
      <img src="img/clock.png">
  </div>

  <div class="about_text">
      <h1><span>About</span>Us</h1>
      <h3>Why Choose us?</h3>
      <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, est. Doloremque 
          sapiente veritatis laboriosam corrupti optio et maxime. Ad, amet explicabo eaque labore 
          cupiditate quasi nostrum nemo recusandae id quibusdam? Lorem ipsum dolor sit amet 
          consectetur adipisicing elit. Doloremque ab, dolores pariatur cum exercitationem, illo nisi 
          veritatis vitae ea deleniti fugiat quisquam tempora, accusantium corrupti excepturi optio. 
          Inventore, cupiditate recusandae.
      </p>
  </div>

</div>



</div>



</section>
</body>

