*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* section{
  width: 100%;
  height: 100vh;
} */

section nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
}

section nav .logo img{
  width: 55px;
  cursor: pointer;
  margin: 7px 0;
}

section nav ul{
  list-style: none;
}

section nav ul li{
  display: inline-block;
  margin: 0 15px;
}

section nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 17px;
  transition: 0.1s;
}

section nav ul li a::after{
  content: '';
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.2s linear;
}

section nav ul li a:hover::after{
  width: 100%;
}

section nav ul li a:hover{
  color: #fac031;
}

section nav .icon i{
  font-size: 18px;
  color: #000;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

section nav .icon i:hover{
  color: #fac031;
}

section .maine{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 130px;
}

section .maine .men_text h1{
  font-size: 66px;
    position: relative;
    top: -163px;
    left: 62px;
    white-space: nowrap;
}

section .maine .men_text h1 span{
  margin-left: 15px;
  color: #fac031;
  font-family: mv boli;
  line-height: 22px;
  font-size: 70px;
}

section .maine .main_img img{
  width: 700px;
  position: relative;
  left: 70px;
}

section p{
  width: 546px;
    text-align: justify;
    position: relative;
    left: 72px;
    bottom: 146px;
    line-height: 22px;
}

section .maine_btn{
  background: #fac031;
  position: relative;
  left: 123px;
  bottom: 30px;
  width: 150px;
  cursor: pointer;
  padding: 12px 25px;
}

section .maine_btn a{
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
}

section .maine_btn i{
  color: #fff;
  transition: 0.3s;
}

section .maine_btn:hover i{
  transform: translateX(7px);
}



/*About*/

.about{
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.about .about_maine{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .about_maine .img img{
  width: 324px;
  position: relative;
  top: 60px;
}

.about .about_maine .about_text h1 span{
  color: #fac031;
  margin-right: 15px;
  font-family: mv boli;
}

.about .about_maine .about_text h1{
  font-size: 55px;
  position: relative;
  bottom: 50px;
}

.about .about_maine .about_text h3{
  font-size: 30px;
  margin: 0 0 50px 0;
}

.about .about_maine .about_text p{
  width: 650px;
  text-align: justify;
  margin-right: 30px;
  line-height: 22px;
}

.about .about_btn{
  background: #fac031;
  padding: 12px 25px;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 55%;
  bottom: 30px;
}





/*Footer*/

footer{
  width: 100%;
  padding: 30px 0 0 20px;
  background: #eeeeee;
  margin-top: -109px;
}

footer .footer_main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
  text-align: center;
}

footer .footer_main .footer_tag h2{
  color: #000;
  margin-bottom: 25px;
  font-size: 30px;
}

footer .footer_main .footer_tag p{
  margin: 10px 0;
}

footer .footer_main .footer_tag i{
  margin: 0 5px;
  cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
  color: #fac031;
}

footer .end{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .end span{
  color: #fac031;
  margin-left: 10px;
}

::-webkit-scrollbar{
  width: 13px;
}

::-webkit-scrollbar-track{
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
  background: #fac031;
  border-radius: 15px;
}
.backg{
  width: 55%;
  margin-left: 418px;
  margin-top: -56px;
}
div .maine_btn a{
  white-space:nowrap;
}
.sectione{
  margin-bottom: 283px;
}
#imagefile{
  margin-top: 31px;
  margin-bottom: 8px;
}
#but{
  margin-top: 11px;
}

.profile-panel .profile-info {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f3f5f6;
  border-top: 1px solid #ddd;
}

.panel-default .panel-footer {
  color: #768399;
  background-color: #e4e9eb;
  border: 1px solid #e4e9eb;
  border-top: none;
}

.panel.plain .panel-footer {
  border-top: none;
}

.panel-footer .white-content {
  color: #768399;
  background: #fff;
  background-color: #fff;
}

.profile-panel .profile-stats-info a {
  font-size: 24px;
  margin-right: 10px;
  margin-top: 10px;
  color: #79859b;
}

.profile-panel .user-name {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}

.profile-panel .profile-avatar img {
  border-radius: 50%;
  border: 1px solid #e7e7e2;
}

.profile-panel .profile-avatar {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #e7e7e2;
  float: left;
}

.panel-default .panel-body {
  border: 1px solid #e4e9eb;
  border-top: none;
}

.panel-body {
  padding: 15px;
}

.profile-panel .profile-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel {
  position: relative;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
} 

.panel-default {
  border-color: #e4e9eb;
}

.panel.plain .panel-default .panel-heading {
  border: 1px solid #e4e9eb;
  border-bottom: none;
}
.panel.plain .panel-heading {
  border-bottom: none;
}
.panel.panel-default .panel-heading {
  color: #768399;
}

.panel-heading .white-content {
  color: #768399;
  background: #fff;
  background-color: #fff;
}
.panel-default .panel-heading {
  color: #768399;
  background-color: #e4e9eb;
  border-color: #e4e9eb;
}
.white-content {
  color: #768399;
  background: #fff;
  background-color: #fff;
}
.p-left {
  padding-left: 0!important;
}

.p-right {
  padding-right: 0!important;
}
.panel-heading {
  padding: 0 15px;
  min-height: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#tex{
  margin-top: 185px;
  white-space: normal;
  left: 4px;
}



.imagepo{
  width:50%;
}
#cardd{
  height: 477px;
}
